<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="img/logo.jpg">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>[QUẢN LÝ] Thêm sân</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .navbar-nav .nav-item:hover {
            background-color: rgba(180, 190, 203, 0.4);
        }
    </style>
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body>
<div style="background-color: #ecf0f1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <div class="container">
            <a class="navbar-brand" th:href="|/load-manager-own|">Trang quản lý cho chủ sân</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-md-auto gap-2">
                    <li class="nav-item rounded">
                        <a class="nav-link " aria-current="page" th:href="|/load-manager-own|"><i
                                class="	fas fa-tachometer-alt me-2"></i>Tổng quan</a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link active" th:href="|/loadyardmanagerown|"><i class="	fas fa-table me-2"></i>Quản
                            lý sân</a>
                    </li>
                    <li class="nav-item dropdown rounded">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="	fas fa-user-circle me-2 my-auto"></i><span
                                th:text="${user.getUsername()}"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-md-start" aria-labelledby="navbarDropdown">
                            <!--                            <li><a class="dropdown-item" href="#"></a></li>-->
                            <!--                            <li>-->
                            <!--                                <hr class="dropdown-divider">-->
                            <!--                            </li>-->
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}"><i class='fas fa-sign-out-alt'></i>Đăng
                                    xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-5" style="min-height: 38vw">
        <div class="row bg-white border-0 rounded py-5 px-3 mt-5">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto" style="min-height: 27.3vw">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <!--                    <div class="row">-->
                    <!--                        <div class="col-12">-->
                    <h2 class="tm-block-title d-inline-block">Thêm sân</h2>
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">

                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <footer class="bg-dark mt-5 mb-0">
                <div class="container py-4 font-weight-light ">
                    <p class="text-center text-light mb-0 px-4 small">
                        FastSoccer &copy; <b>Summer 2022</b> All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- https://jquery.com/download/ -->
        <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
        <!-- https://jqueryui.com/download/ -->
        <script src="js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
        <!-- https://getbootstrap.com/ -->
        <script>
            $(function () {
                $("#expire_date").datepicker();
            });
        </script>
</body>
</html>
